@page "/consultacobros"

@using Models
@using BLL
@inject IJSRuntime js
@inject IModalService Modal
@inject IToastService toast
@inject AuthenticationStateProvider AuthenticationStateProvider


@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <div class="card rounded" style="border-color:#dc3545">
        <div class="card-header text-lg-center" style="background-color: #dc3545">
            <h3><strong>Consulta de cobros</strong></h3>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header" style="background-color:#CDCBCB">
                    <div class="row">
                        <div class="input-group col-12">
                            <div class="form-group col-2">
                                <label><strong>Desde: </strong></label>
                                <input type="date" class="form-control" @bind="Desde" />
                            </div>
                            <div class="form-group col-2">
                                <label><strong>Hasta: </strong></label>
                                <input type="date" class="form-control" @bind="Hasta" />
                            </div>
                            <div class="form-group col-3">
                                <label><strong>Filtro: </strong></label>
                                <select class="form-control" @bind="Filtro">
                                    <option value="0">Eliga un filtro</option>
                                    <option value=1>ID</option>
                                    <option value=2>Cliente Id</option>
                                    <option value=3>Nombre cliente</option>
                                    <option value=4>Apellido cliente</option>
                                </select>
                            </div>
                            <div class="form-group col-3">
                                <label><strong>Criterio: </strong></label>
                                <div class="input-group">
                                    <input type="@(Filtro == 1 || Filtro == 2 ? "number" : "text" )" class="form-control" placeholder="Criterio" @bind="Criterio" />
                                    <button type="button" class="btn btn-danger input-group-append" @onclick="@( c => Consultar(0))">Consultar</button>
                                </div>
                            </div>
                            <div class="form-group col-2 col-md-2 ml-auto">
                                <label><strong>Ordenar por: </strong></label>
                                <select class="form-control" @bind="Order" @onclick="Ordenar" disabled="@(Items.Count>0 ? false : true)">
                                    <option value="value">Eliga una opcion</option>
                                    <option value=1>Fecha</option>
                                    <option value=2>Monto</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Balance cliente</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ItemsList)
                            {
                                <tr>
                                    <td>@item.CobroId</td>
                                    <td>@ClientesBLL.Buscar(item.ClienteId).Nombre @ClientesBLL.Buscar(item.ClienteId).Apellido</td>
                                    <td>@item.Fecha</td>
                                    <td>@item.Monto</td>
                                    <td>@ClientesBLL.Buscar(item.ClienteId).Balance</td>
                                    <td><a class="btn btn-dark" href="@($"Cobros/{item.CobroId}")">Editar</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="card-footer" style="background-color:#CDCBCB">
                    <div class="row">
                        <div class="form-group col-2 col-md-2 ml-auto">
                            <label><strong>Imprimir </strong></label>
                            <button type="button" class="btn btn-danger btn-block" @onclick="GeneratePDF"><span class="oi oi-print"></span> Consulta</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer" style="background-color: #dc3545">
            <div class="form-group text-center" display: inline-block>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <button class="page-link btn btn-danger"
                                    @onclick="@(e => NavegateTo("Previous"))" tabindex="-1">
                                Previous
                            </button>
                        </li>

                        @for (int i = 0; i < TotalPages; i++)
                        {
                            var pageNumber = i;
                            <li class="page-item">
                                <button class="@(CurrentPage == pageNumber ? "page-link btn btn-dark" : "page-link btn btn-danger")"
                                        @onclick="@(u => Consultar(pageNumber))">
                                    @(i + 1)
                                </button>
                            </li>
                        }

                        <li class="page-item">
                            <button type="button" class="page-link btn btn-danger" @onclick="@(e => NavegateTo("Next"))" tabindex="-1">Next</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}
else
{
    <LoginControl />
}

@code {
    public List<Cobros> ItemsList { get; set; } = new List<Cobros>();
    public List<Cobros> Items { get; set; } = new List<Cobros>();

    public DateTime Desde { get; set; } = DateTime.Today;
    public DateTime Hasta { get; set; } = DateTime.Today;
    public string Criterio { get; set; }
    public int Numeracion { get; set; }
    public int PageSize { get; set; }
    public int TotalPages { get; set; }
    public int CurrentPage { get; set; }
    public int Filtro { get; set; }
    public int Order { get; set; }
    public double TotalDeuda { get; set; }
    public int UserNumber { get; set; }

    protected override void OnInitialized()
    {
        // Items = CobrosBLL.GetList(p => true);
        PageSize = 4;
        // ItemsList = Items.Take(PageSize).ToList();
        // TotalPages = (int)Math.Ceiling(Items.Count() / (decimal)PageSize);
        //  CalcularInventario();

        base.OnInitialized();
    }

    public void Consultar(int omite)
    {
        if (Criterio != string.Empty)
        {
            switch (Filtro)
            {
                case 0:
                    Items = CobrosBLL.GetList(p => true);
                    TotalPages = (int)Math.Ceiling(Items.Count() / (decimal)PageSize);
                    UpdateList(omite);
                    break;
                case 1:
                    int id = Convert.ToInt32(Criterio);
                    Items = CobrosBLL.GetList(a => a.CobroId == id);
                    TotalPages = (int)Math.Ceiling(Items.Count() / (decimal)PageSize);
                    UpdateList(omite);
                    break;
                case 2:
                    int clienteid = Convert.ToInt32(Criterio);
                    Items = CobrosBLL.GetList(a => a.ClienteId == clienteid);
                    TotalPages = (int)Math.Ceiling(Items.Count() / (decimal)PageSize);
                    UpdateList(omite);
                    break;
                case 3:
                    int id2 = Convert.ToInt32(Criterio);
                    string NombreCliente = ClientesBLL.Buscar(id2).Nombre;
                    Items = CobrosBLL.GetList(a => NombreCliente.Contains(Criterio));
                    TotalPages = (int)Math.Ceiling(Items.Count() / (decimal)PageSize);
                    UpdateList(omite);
                    break;
                case 4:
                    int id3 = Convert.ToInt32(Criterio);
                    string ApellidoCliente = ClientesBLL.Buscar(id3).Apellido;
                    Items = CobrosBLL.GetList(a => ApellidoCliente.Contains(Criterio));
                    TotalPages = (int)Math.Ceiling(Items.Count() / (decimal)PageSize);
                    UpdateList(omite);
                    break;
            }
            Items = Items.Where(c => c.Fecha >= Desde.Date && c.Fecha.Date <= Hasta.Date).ToList();
            TotalPages = (int)Math.Ceiling(Items.Count() / (decimal)PageSize);
            UpdateList(omite);

        }
        else
        {
            Items = CobrosBLL.GetList(a => true);
            Items = Items.Where(c => c.Fecha >= Desde.Date && c.Fecha.Date <= Hasta.Date).ToList();
            TotalPages = (int)Math.Ceiling(Items.Count() / (decimal)PageSize);
            UpdateList(omite);
        }

    }

    private void UpdateList(int pageNumber)
    {
        ItemsList = Items.Skip(pageNumber * PageSize).Take(PageSize).ToList();
        CurrentPage = pageNumber;
    }

    private void NavegateTo(string direction)
    {
        if (direction == "Previous" && CurrentPage != 0)
            CurrentPage -= 1;
        if (direction == "Next" && CurrentPage != TotalPages)
            CurrentPage += 1;

        UpdateList(CurrentPage);
    }

    private void Ordenar()
    {
        if (Order == 1)
        {
            ItemsList = new List<Cobros>();
            UpdateList(CurrentPage);
            ItemsList = ItemsList.OrderBy(x => x.Fecha).ToList();
        }
        if (Order == 2)
        {
            ItemsList = new List<Cobros>();
            UpdateList(CurrentPage);
            ItemsList = ItemsList.OrderBy(x => x.Monto).ToList();
        }


    }
    public void GeneratePDF()
    {
        CobrosReport rpt = new CobrosReport();

        if (Items.Count > 0)
        {
            var parameters = new ModalParameters();
            parameters.Add("Items", Items);

            Modal.Show<Herramientas.CobrosViewer>("Reporte de cobros", parameters);
        }

        else
            toast.ShowWarning("No hay datos para imprimir, debe hacer una consulta");
    }

}
